:host {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  .mat-mdc-card-content {
    padding: 50px;

    .logo {
      width: 400px;
      height: auto;
    }

    .login-inputs {
      display: flex;
      justify-content: stretch;
      flex-direction: column;
      margin-top: 60px;
    }

    .login-btn {
      margin-top: 20px;
      width: 100%;
    }
  }
}
