<div>
  <h2>Aktive Quizzes</h2>
  <div class="game-cards">
    <mat-card *ngFor="let game of ongoingGames">
      <mat-card-title>{{
        game.isCoop ? "Kooperatives Quiz" : "Kompetitives Quiz"
      }}</mat-card-title>
      <mat-card-content>
        <ng-container
          [ngTemplateOutlet]="game.isCoop ? coop : comp"
          [ngTemplateOutletContext]="{ $implicit: game }"
        ></ng-container>
      </mat-card-content>
      <mat-card-actions align="end">
        <button
          [disabled]=""
          mat-mini-fab
          color="primary"
          (click)="continueGame(game.id, game.isCoop)"
        >
          <mat-icon>play_arrow</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div>
  <h2>Abgeschlossene Quizzes</h2>
  <div class="game-cards">
    <mat-card *ngFor="let game of doneGames">
      <mat-card-title>{{
        game.isCoop ? "Kooperatives Quiz" : "Kompetitives Quiz"
      }}</mat-card-title>
      <mat-card-content>
        <ng-container
          [ngTemplateOutlet]="game.isCoop ? coop : comp"
          [ngTemplateOutletContext]="{ $implicit: game }"
        ></ng-container>
        <p>{{ game | result : ownName : game.isCoop }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<button
  class="start-game-btn"
  mat-fab
  color="primary"
  (click)="openGameDialog(0)"
>
  <mat-icon><span> sports_esports </span></mat-icon>
</button>

<ng-template #coop let-game>
  <div class="score">
    <p>
      <span class="correct">{{ game.gameUser[0].correct }} </span> /
      <span class="incorrect">{{ game.gameUser[0].incorrect }}</span>
    </p>
  </div>
</ng-template>

<ng-template #comp let-game>
  <p *ngFor="let gameUser of game.gameUser">
    <span class="player-name"
      >{{ gameUser.user.mail === ownName ? "Du" : gameUser.user.mail }}:</span
    >
    <span class="correct">{{ gameUser.correct }} </span> /
    <span class="incorrect">{{ gameUser.incorrect }} </span>
  </p>
</ng-template>
